<div>
  <div class="result bg-slate-300 px-4 py-3">
    <p id="result" class="m-0 text-lg font-semibold text-gray-800">Results - 20</p>
  </div>
  <div id="grid" class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 p-3 gap-2">
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
    <div class="poke-card grid grid-cols-1 shadow rounded-xl hover:shadow-2xl">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon"
        class="p-1 mix-blend-multiply aspect-square">
      <div class="bg-slate-500 text-gray-800 rounded-b-xl">
        <p class="mx-auto my-2 text-center text-lg font-semibold">Pikachu</p>
      </div>
    </div>
  </div>
</div>