<div class="max-w-5xl mx-auto bg-slate-200">
  <div class="max-w-xl mx-auto">
    <div class="p-1 mb-5">
      <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt=""
        class="aspect-square rounded mix-blend-multiply">
    </div>
    <div class="flex flex-col gap-4 text-left">
      <div class="text-center grid grid-cols-1 gap-2 text-lg font-bold">
        <p>Pikachu</p>
        <p>Category: <span class="font-normal">Electric</span></p>
      </div>
      <table class="grid grid-cols-1 gap-2">
        <caption>Stats</caption>
        <tr class="grid grid-cols-2 py-1">
          <th class="text-left px-3">Attribute</th>
          <th class="px-3 w-full">Value</th>
        </tr>
        <tr class="grid grid-cols-2 p-1">
          <td class="text-left px-3">HP</td>
          <td class="py-1">
            <div class="w-full bg-red-200">
              <div class="bg-red-600 p-0.5 text-center text-xs font-bold leading-none text-yellow-50"
                style="width: 25%">
                25%
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>