<div class="grid grid-cols-2 p-3 gap-5 bg-slate-100">
  <div class="image grid place-items-end">
    <img src="https://raw.githubusercontent.com/akio333/pokemon/main/images/pikachu.jpg" alt="pokemon" srcset=""
      class="aspect-square mix-blend-multiply -scale-x-100" />
  </div>
  <div class="content flex flex-col gap-3 text-left">
    <h2 class="w-full m-0 font-bold text-2xl pt-24">
      Welcome to pokemon collection
    </h2>
    <p class="w-full m-0 text-lg">
      We have curated huge collection of pokemons for you. There are more than
      2000 pokemons and our experts have chosen only the best ones.<br />
      Check them out here!
    </p>
    <button class="text-lg py-2 px-4 w-fit h-fit bg-slate-900 text-white border-rad rounded-full">
      Go to Collection
    </button>
  </div>
</div>